

.wrap {
	max-width: 800px;
	margin: 20px auto;
}

.header {
	margin-bottom: 20px;
}

h1, span.info {
	display: block;
}

h1 {
	margin: 0;
}

.box {
	box-sizing: border-box;
	width: 48%;
	margin-bottom: 2%;
	border: 1px solid #DFDFDF;
	background: #EFEFEF;
	padding: 10px;
	float: left;
	border-radius: 4px;
	word-break: break-all;
}

.box:nth-of-type(2n+1) {
	color: blue;
	clear: left;
	margin-right: 2%;
}

.paginare {
	clear: both;
	max-width: 800px;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	margin-top: 20px;
}

.paginare a {
	text-decoration: none;
	padding: 3px 6px;
	display: inline-block;
	margin: 0 4px 4px 0;
	border: 1px solid #DFDFDF;
	border-radius: 3px;
	color: #333;
}

.paginare a.active {
	background: #333;
	color: #FFF;
	border: 1px solid #333;
}